<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>

    <meta charset="UTF-8"/>
    <meta
            name="keywords"
            content="sawing teeth,machines,пильные зубья,гусеницы"
    />
    <meta name="author" content="Well"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/reset.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/header.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/hero.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/category.css'%}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/footer.css' %}?v=1.1"/>


    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
            rel="stylesheet"
    />

    <title>Well</title>
</head>
<body>
<!-- start header -->
<!-- <div class="container"> -->
<!-- <div class="container"> -->
{% include 'catalog/fixed/navbar.html' %}
<!-- </div> -->
<!-- </div> -->
<!-- end header -->
<!-- start main -->
<main>
    <!-- start hero -->
    <!-- <div class="container"> -->
    <section id="hero-sec" class="hero">
        <div class="hero-pic">
            <span id="trigger-element" class="star">*</span>
            <h1 id="change-element" class="main-quote">
                make sure your business goes
                <img src="\static\assets\svgs\well-hero.svg" alt="well-hero"/>
            </h1>
            <h1 id="element-replacement" class="none not main-quote-fix">
                Убедитесь в процветании вашего бизнеса
                <!-- <div id="trigger-element" class="star">*</div> -->
            </h1>

            <h2 class="bottom-quote">
                Мы предлагаем такие-то такие-то условия и вообще у нас все круто
                прям капец клянусь.
            </h2>
            <div class="container">
                <a href="#catalog-sec" class="hero-btn">перейти к каталогу</a>
            </div>
        </div>
    </section>
    <!-- </div> -->
    <!-- end hero -->

    <!-- start catalog -->
    <section id="catalog-sec" class="catalog">
        <div class="red-stripe"></div>
        <div class="container">
            <ul class="catalog__list">

                <div class="category-container-triple">
                    {% for category in first_three_categories %}
                    <li class="catalog__item">
                        <a href="{% url 'category_catalog' category.slug %}">
                            <img
                                    src="\static\assets\pictures\item.png"
                                    alt="item-pic"
                                    class="item-pic"
                            />
                            <h4 class="category-name">{{category.category_name}}</h4>
                            <h5 class="sub-brand">
                                Bobcat
                                <div>1</div>
                            </h5>
                            <div class="dotted-line"></div>
                            <h5 class="sub-brand">
                                Delta
                                <div>4</div>
                            </h5>
                            <div class="dotted-line"></div>
                        </a>
                    </li>
                    {% endfor %}
                </div>
                <div class="category-container-triple">
                    {% for category in next_three_categories %}
                    <li class="catalog__item">
                        <a href="category.html">
                            <img
                                    src="{{ category.category_picture.url }}"
                                    alt="item-pic"
                                    class="item-pic"
                            />
                            <h4 class="category-name">{{category.category_name}}</h4>
                            <h5 class="sub-brand">
                                Bobcat
                                <div>1</div>
                            </h5>
                            <div class="dotted-line"></div>
                            <h5 class="sub-brand">
                                Delta
                                <div>4</div>
                            </h5>
                            <div class="dotted-line"></div>
                        </a>
                    </li>
                    {% endfor %}
                </div>

            </ul>
        </div>
        <div class="pinkish-stripe"></div>
    </section>
</main>

<!-- end main -->
<!-- start footer -->
<footer>
    <div class="container-footer">
        <div class="top-footer">
            <img src="\static\assets\svgs\shortend.svg" alt="w-short"/>
            <p class="footer-par">Вопросы по номеру</p>
            <address class="phone">+7 (800) 5534-228</address>
            <address class="mail">pochta@mail.ru</address>
        </div>
        <div class="navigation-footer-container">
            <p class="nav-footer">Навигация по сайту</p>
            <nav class="navigation-footer">
                <ul class="nav-footer__list">
                    <li class="nav-footer__item">
                        <a href="">Категория 1</a>
                    </li>
                    <li class="nav-footer__item">
                        <a href="">Категория 2</a>
                    </li>
                    <li class="nav-footer__item">
                        <a href="">Категория 3</a>
                    </li>
                    <li class="nav-footer__item">
                        <a href="">Категория 4</a>
                    </li>
                    <li class="nav-footer__item">
                        <a href="">Категория 5</a>
                    </li>
                    <li class="nav-footer__item">
                        <a href="">Категория 6</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-info-container">
            <h6 class="footer-info">
                Компания «Тимбермаш Байкал» - дилер спецтехники мировых брендов
                Sany, Merko, Mesda, HBXG (Shewa), Rotobec (RTB), Hangcha, YTO,
                Orthaus, CHC Nav, FJDynamics, Gehl, Manitou, John Deere, FAE,
                Waratah, Ponsse, Gregoire Bessone, Lucas. Мы предлагаем спецтехнику
                для дорожно-строительной, лесозаготовительной, сельскохозяйственной
                отрасли, а также оригинальные запчасти и качественный сервис.
                Тимбермаш Байкал - это надежная спецтехника в наличии и под заказ;
                передовые технологии в обслуживании техники; квалифицированные
                специалисты сервиса. Приобретайте спецтехнику в лизинг на выгодных
                условиях, действует услуга Trade-IN, предлагаем варианты техники со
                стажем (б/у).
            </h6>
        </div>
        <div class="credits">
            <p class="credits_txt">
                Designed and built with all the love in the world by the
                <a class="depo" href="">depo</a> .
                <span class="license"
                >Code licensed <a class="mit" href="">MIT</a></span
                >.
            </p>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="dark-stripe">
            <span class="commerce">© Well, Russia. Все права защищены.</span>
        </div>
    </div>
</footer>
<!-- end footer -->
</body>
<script src="\static\scripts\main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="\static\scripts\hero.js"></script>
<script src="\static\scripts\index.js"></script>

</html>
