<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>

    <meta charset="UTF-8"/>
    <meta
            name="keywords"
            content="sawing teeth,machines,пильные зубья,гусеницы"
    />
    <meta name="author" content="Well"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/reset.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/header.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/hero.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/category.css'%}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/footer.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/item-of-category.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/slider.css' %}?v=1.1"/>


    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
            rel="stylesheet"
    />

    <title>Item of category</title>
</head>
<body>
<!-- start header -->
<header>
    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item">
                <a href="{% url 'home_page' %} " class="well-icon-link"
                ><img
                        src="\static\assets\svgs\well-brownish.svg"
                        class="well-icon"
                        alt="logo"
                /></a>
            </li>
            <div class="icons-container">
                <form action="/search" method="get" class="hidden search-form">
                    <!-- Добавлен класс 'hidden' для скрытия формы -->
                    <input
                            class="search-input"
                            type="search"
                            name="query"
                            placeholder="Найти по артикулу"
                    />
                    <button class="find-btn" id="new-icon" type="submit"></button>
                </form>
                <li class="navigation__item" id="search-icon">
                    <a><img src="\static\assets\svgs\search-brownish.svg" alt="search"/></a>
                    <!-- Добавлен id 'search-icon' для поиска по клику -->
                </li>
                <li class="navigation__item">
                    <div id="basket-qty">1</div>
                    <a href="cart.html"
                    ><img src="\static\assets\svgs\shopping-cart-brownish.svg" alt="cart"
                    /></a>
                </li>
            </div>
        </ul>
    </nav>
</header>
<!-- start main -->
<main>
    <div class="grey-stripe">
        <div class="container">
            <div class="resolution">
                <div class="nav-on-page">
                    Главная | Зубья |
                    <a class="current-link">Комплект зубьев 18(шт) BEAVER</a>
                </div>
                <h3 class="category-item">{{item.full_name}}</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <section class="description-item">

            <div>
                <h6 class="name-of-brand">{{item.brand}}</h6>
                <h6 class="vendor">{{item.vendor}}</h6>
                <p class="description">
                    Резец с двумя твердосплавными наконечниками/напайками, крепится
                    одним болтом. Резец мульчерный RM4501 устанавливается на мульчеры
                    BANDIT.
                </p>
                <button onclick="changeColor()" class="add-to-cart-in-item-btn" id="add-button" value="{{item.id}}">
                    В корзину
                </button>
                <select name="" id="select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <div class="drop-list-comp">
                    <div id="drop-trigger-comp">
                        Комплектация
                        <img
                                class="down-arrow"
                                src="assets\svgs\arrow-down.svg"
                                alt=""
                        />
                    </div>
                    <div class="content-comp">
                        <ul class="content__list-comp">
                            <li class="content__item-comp">
                                <p class="content__item-p">Зубья пильные 18 шт.</p>
                            </li>
                            <li class="content__item-comp">
                                <p class="content__item-p">Зубья пильные 18 шт.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="additional-container">
                <div class="slider-container">
                    <div class="slider">
                        <div class="slider__item">
                            <img src="\static\assets\pictures\test-item.png" alt=""/>
                        </div>
                        <div class="slider__item">
                            <img src="\static\assets\pictures\pic-2.png" alt=""/>
                        </div>
                        <div class="slider__item">
                            <img src="pictures\pic-2.png" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="dots-slider-container"></div>
                <div class="container dots">
                    <img src="pictures\add-item-pic.png" alt=""/>
                    <img src="pictures\pic-2.png" alt=""/>
                    <img src="pictures\pic-2.png" alt=""/>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- end main -->
<footer>
    <div class="container-footer">
        <div class="top-footer">
            <img src="assets\svgs\shortend.svg" alt="w-short"/>
            <p class="footer-par">Вопросы по номеру</p>
            <address class="phone">+7 (800) 5534-228</address>
            <address class="mail">pochta@mail.ru</address>
        </div>
        <div class="navigation-footer-container">
            <p class="nav-footer">Навигация по сайту</p>
            <nav class="navigation-footer">
                <ul class="nav-footer__list">
                    <li class="nav-footer__item">
                        <a href="">Категория 1</a>
                    </li>
                    <li class="nav-footer__item">
                        <a href="">Категория 2</a>
                    </li>
                    <li class="nav-footer__item">
                        <a href="">Категория 3</a>
                    </li>
                    <li class="nav-footer__item">
                        <a href="">Категория 4</a>
                    </li>
                    <li class="nav-footer__item">
                        <a href="">Категория 5</a>
                    </li>
                    <li class="nav-footer__item">
                        <a href="">Категория 6</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-info-container">
            <h6 class="footer-info">
                Компания «Тимбермаш Байкал» - дилер спецтехники мировых брендов
                Sany, Merko, Mesda, HBXG (Shewa), Rotobec (RTB), Hangcha, YTO,
                Orthaus, CHC Nav, FJDynamics, Gehl, Manitou, John Deere, FAE,
                Waratah, Ponsse, Gregoire Bessone, Lucas. Мы предлагаем спецтехнику
                для дорожно-строительной, лесозаготовительной, сельскохозяйственной
                отрасли, а также оригинальные запчасти и качественный сервис.
                Тимбермаш Байкал - это надежная спецтехника в наличии и под заказ;
                передовые технологии в обслуживании техники; квалифицированные
                специалисты сервиса. Приобретайте спецтехнику в лизинг на выгодных
                условиях, действует услуга Trade-IN, предлагаем варианты техники со
                стажем (б/у).
            </h6>
        </div>
        <div class="credits">
            <p class="credits_txt">
                Designed and built with all the love in the world by the
                <a class="depo" href="">depo</a> .
                <span class="license"
                >Code licensed <a class="mit" href="">MIT</a></span
                >.
            </p>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="dark-stripe">
            <span class="commerce">© Well, Russia. Все права защищены.</span>
        </div>
    </div>
</footer>
</body>
<!--<script src="\static\scripts\main.js"></script>-->
<script src="\static\scripts\item.js"></script>
<script src="\static\scripts\category.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="\static\scripts\slick.min.js"></script>
<script src="\static\scripts\slider.js"></script>
<!--<script src="\static\scripts\basket.js"></script>-->

<script>
    $(document).on('click','#add-button',function(e) {
        e.preventDefault();
        console.log($('#select option:selected').text())
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                itemid : $('#add-button').val(),
                itemqty: $('#select option:selected').text(),
                csrfmiddlewaretoken : '{{csrf_token}}',
                action: 'post',
            },
            success: function(json){
                document.getElementById('basket-qty').innerHTML = json.qty
            },
            error: function(xhr,errmsg,err){}
         });

    })
</script>

</html>
